<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rg_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Rg_Form.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>Kings</value>
            </setting>
            <setting name="TargetID" serializeAs="String">
                <value>Queens</value>
            </setting>
            <setting name="Local_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Local_Port" serializeAs="String">
                <value>9527</value>
            </setting>
            <setting name="Server_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Server_Port" serializeAs="String">
                <value>9999</value>
            </setting>
        </Rg_Form.Properties.Settings>
    </userSettings>
</configuration>